@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .bg-grid-transparency {
    background-image: radial-gradient(#000 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
